<!-- Variant selector -->
<select name="id">
  {% for variant in product.variants %}
    <option
      value="{{ variant.id }}"
      {% if variant == current_variant %}
        selected="selected"
      {% endif %}
    >
      {{ variant.title }} - {{ variant.price | money }}
    </option>
  {% endfor %}
</select>
